---
import Layout from '../layouts/Layout.astro'
import Counter from '../components/Counter'
---

<Layout title="Welcome">
    <main class="h-screen w-screen flex flex-col justify-center items-center">
        <h1 class="text-4xl mb-16">Astro Counter Testing</h1>
        <Counter client:load />
    </main>
</Layout>
