---
import LatestAnime from '../components/LatestAnime'
import Layout from '../layouts/Layout.astro'

const getRecentAnime = async (pageNumber: String) => {
    const response = await fetch(
        `https://gogoanime.consumet.org/recent-release?page=${pageNumber}`
    )
    return await response.json()
}

const recentAnimeData = await getRecentAnime('1')
const recentAnimeData2 = await getRecentAnime('2')
---

<Layout title="Anime Site">
    <div>
        <LatestAnime
            recentAnimeData1={recentAnimeData}
            recentAnimeData2={recentAnimeData2}
            client:load
        />
    </div>
</Layout>
