.swiper-pagination-bullet {
    background: white !important;
}

.swiper-scrollbar-drag {
    background-color: white !important;
    border-radius: 0 !important;
}

.swiper-horizontal > .swiper-scrollbar,
.swiper-scrollbar.swiper-scrollbar-horizontal {
    bottom: 0px !important;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 20px !important;
}
